<h1 style="color:blue;text-align:center;">登录系统</h1>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text"  ng-model="username" placeholder="帐号"/>
        </div>
    </div>
</div>

<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" ng-model="password" placeholder="密码"/>
        </div>
    </div>
</div>


<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" ng-click="login()">登录</a>
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" ng-click="register()">注册</a>
</div>